*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background-image: url(images/);
}

#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.2;
}

#header{
  width: 100%;
  height: 100vh;
  min-width: 350px;
}
.container{
  padding: 10px 10%;
  box-sizing: border-box;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

h1 a{
  color: black;
  font-family: 'Rock Salt', cursive;
  font-size: 36px;
  text-shadow: 0.2px 4px rgb(165, 42,42);
  text-decoration: none;
}

nav ul{
  
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Rock Salt', cursive;
}

nav ul li :hover{
  text-shadow: 2px 2px 3px rgb(165, 42,42);
  font-weight: bold;
  color: rgb(165, 42,42);
  transition: 0.3s;
}


.socialdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.discorddiv, .twitterdiv{
  display: flex;
  height: 50px;
  width: 50px;
  margin-inline: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.discorddiv:hover, .twitterdiv:hover, .mediv:hover {
  box-shadow: inset 0 0 0 3px rgb(165, 42,42);
  border-radius: 20px;
}



.mediv{
  display: flex;
  height: 50px;
  width: 50px;
  margin-inline: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.discordicon{
  width: 100%;
}

.twittericon{
  width: 100%;
}

.meicon{
  width: 100%;
}

.visiondiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: left;
  background-color: rgb(165, 42,42);
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 10px 10px rgb(0, 0, 0);
  margin-top: 20px;
  border-radius: 10px;
}

.visiondiv h2 {
  text-align: center;
}

.visiondiv p {
  margin-top: 20px;
}

.visionsection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 50px;
}

.visionheader{
  color: black;
  font-family: 'Rock Salt', cursive;
  text-shadow: 0.2px 3px rgb(165, 42,42);
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 800px) {
  
}